body{
	background: black;
}
#box{
	position: absolute;
	padding: 0 0 0 0;
	display: flex;
	align-items:center;
	justify-content:center;
	top: 20%;
	width: 20%;
	left: 35%;
	height: 350px;
	width: 350px;
	background: grey;
}
#ball{
	margin-left: 0;
	position: absolute;
	height: 100px;
	width: 100px;
	background: white;
	border-radius: 50%;
}

#score{

	color: white;
	font-size: 30px;
}